[user]
	email = ryouhei222@gmail.com
	name = rhi222
[core]
	editor = nvim +1 -c 'startinsert'
	whitespace = cr-at-eol
	pager = delta
[alias]
	co  = commit
	cpush = !git push origin `git rev-parse --abbrev-ref HEAD`
	current-hash="show --format='%H' --no-patch"
	delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f"
	fe  = fetch
	fsw = "!fish -c git-fsw" # branch 選択 + プレビュー + 自動追跡ブランチ作成
	l  = log
	log = log --graph --all --name-status --pretty=format:"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset"
	me  = merge
	pl = !git pull origin $(git branch --show-current)
	re  = rebase
	sh = show
	ss = status -s
	st  = status
	sw = switch
[ghq]
	root = /data/git-repos
[credential]
	helper = cache
[interactive]
	diffFilter = delta --color-only
[delta]
	# https://github.com/dandavison/delta
	# https://zenn.dev/sh090/articles/0796e6b3f4ed94beadc4
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	#side-by-side = true # lazygitに影響するため
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[status]
	showUntrackedFiles = normal
[init]
	defaultBranch = main
[commit]
	template = ~/.config/git/commit-conventions.txt
[wt]
	relative = true
	nocd = create
	copy = CLAUDE.md
	hook = tmux neww -c \"$PWD\" -n \"$(basename \"$(git worktree list | head -1 | awk '{print $1}')\"):$(git branch --show-current):shell\"
	hook = tmux neww -c \"$PWD\" -n \"$(basename \"$(git worktree list | head -1 | awk '{print $1}')\"):$(git branch --show-current):cc\" 'claude'
