[user]
	email = ryouhei222@gmail.com
	name = rhi222
[core]
	editor = nvim +1 -c 'startinsert'
	whitespace = cr-at-eol
	pager = delta
[alias]
	st  = status
	ch  = !echo "Use git switch/restore instead!"
	sw = switch
	fsw = "!fish -c git-fsw" # branch 選択 + プレビュー + 自動追跡ブランチ作成
	co  = commit
	me  = merge
	re  = rebase
	fe  = fetch
	l  = log
	ss = status -s
	sh = show
	log = log --graph --all --name-status --pretty=format:"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset"
	cpush = !git push origin `git rev-parse --abbrev-ref HEAD`
	delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f"
	current-hash="show --format='%H' --no-patch"
[ghq]
	root = /data/git-repos
[credential]
	helper = cache
[interactive]
	diffFilter = delta --color-only
[delta]
	# https://github.com/dandavison/delta
	# https://zenn.dev/sh090/articles/0796e6b3f4ed94beadc4
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	#side-by-side = true # lazygitに影響するため
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[status]
	showUntrackedFiles = normal
[init]
	defaultBranch = main
[commit]
	template = /home/nishiyama/.config/git/commit-conventions.txt
