[user]
	email = xxxxxxxx
	name = xxxxxxxx
[core]
	editor = nvim -c \"set fenc=utf-8\"
	whitespace = cr-at-eol
[alias]
	st  = status
	ch  = checkout
	co  = commit
	me  = merge
	re  = rebase
	fe  = fetch
	l  = log
	ss = status -s
	sh = show
	log = log --graph --all --name-status --pretty=format:"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset"
	cpush = !git push origin `git rev-parse --abbrev-ref HEAD`
	delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; };f"
[ghq]
    root = /data/git-repos
[credential]
	helper = cache
