######################
# Global Preferences #
######################
model = "gpt-5.2-codex"
model_reasoning_effort = "high"
personality = "pragmatic"
# show_raw_agent_reasoning = true
web_search = "cached"

###########################
# Sandbox & Network Rules #
###########################
sandbox_mode = "workspace-write"
approval_policy = "on-request"

[sandbox_workspace_write]
network_access = true

#########################
# Shell Env Policy      #
#########################
[shell_environment_policy]
inherit = "all"

############
# Profiles #
############
[profiles.auto]
model = "gpt-5.2-codex"
sandbox_mode = "workspace-write"
approval_policy = "on-request"

[profiles.gh]
model = "gpt-5.2-codex"
sandbox_mode = "workspace-write"
approval_policy = "on-request"
